/* @import 'tailwindcss' */

.text--xlarge{
  font-size: 2.24rem;
}
.text--medium{
  font-size: 1.28rem;
}
.text-regsmall{
  font-size: 0.6rem;
}
.margin-bottom--large{
  margin-bottom: 2rem;
}
#windowviewid .window-title, #windowviewid .window-content{
  width: 72vw;
  max-width: 720px;
  margin: auto;
}
#windowviewid .window-content{
  height: 41vw;
  max-height: 405px;
}
#windowviewid .window-title{
  margin-top: 28vh;
}