.textInput, .buttonInput, select{
  padding: 10px 12px;
}

input, select{
  width: 360px;
  max-width: 80%;
}

.dateInput{
  width: 175px;
  max-width: 60%;
}

#quiz-window{
  display: none;
}

.primary-add-button{
  padding: 8px 16px;
  width: 100%;
}
.img-icon{
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
.app-icon{
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 36px;
  border: 3px solid transparent;
  transition: 200ms;
}
.app-icon:hover, .app-icon-hovered{
  border: 3px solid #ffebb4;
}
.app-icon:active, .app-icon:focus{
  border: 3px solid #69f569;
}
.search-bar{
  padding: 8px 12px;
  margin: 0 auto;
  border: 3px solid;
  transition: 200ms;
  font-size: 1rem;
}
.search-bar:focus{
  border-color: #ffebb4;
  color: #ffebb4;
}
.search-bar:active{
  border-color: #69f569;
  color: #ffebb4;  
}

.quiz-nav-button{
  padding: 8px 16px;
  margin: 2px 4px;
}
.quiz-option-button{
  width: 48%;
  padding: 6px 12px;
  text-overflow: auto;
  text-align: left;
  margin: 12px auto;
  margin-right: 1%;
  vertical-align: text-top;
}
.quiz-option-button:hover{
  background-color: aliceblue;
}
.quiz-option-button:active{
  background-color: green;
}

/* render a smaller sized modal window title and content divs*/
.window-view--small .window-title, .window-view--small .window-content{
  width: 80%;
  max-width: 480px;
  margin: inherit auto;
}

.window-view--small .window-content{
  height: clamp(320px, 80%, 640px);
}

.list-item{
  padding: 8px 16px;
  margin: 4px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item .primary-add-button{
  padding: 4px 8px;
  width: 160px;
}
.progress-bar-container{
  display: block;
  width: 100%;
}