.textInput, .buttonInput, select{
  padding: 10px 12px;
}

input, select{
  width: 360px;
  max-width: 80%;
}

.dateInput{
  width: 175px;
  max-width: 60%;
}

#quiz-window{
  display: none;
}

.primary-add-button{
  padding: 8px 16px;
}
.img-icon{
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.quiz-nav-button{
  padding: 8px 16px;
  margin: 2px 4px;
}
.quiz-option-button{
  width: 48%;
  padding: 6px 12px;
  text-overflow: auto;
  text-align: left;
  margin: 12px auto;
  margin-right: 1%;
  vertical-align: text-top;
}
.quiz-option-button:hover{
  background-color: aliceblue;
}
.quiz-option-button:active{
  background-color: green;
}